:root {
    --default-bg-color: rgba(0, 0, 0, 0.8);
    --default-font-color: rgba(240, 240, 240);
    --default-font-family: 'Montserrat', san-serif;
}

@font-face {
    font-family: 'headerFont';
    src: url(./fonts/brushed/brushed.ttf);
}

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-image: url(./imgs/burger-background.jpg); */
    background-image: url(./imgs/burger-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    background-color: var(--default-bg-color);
    color: var(--default-font-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.restaurantName {
    font-family: 'headerFont';
    font-size: 3.25rem;
    letter-spacing: .5rem;
}

.btn-nav {
    color: var(--default-font-color);
    background-color: rgba(0, 0, 0, 0);
    font-family: var(--default-font-family);
    font-size: 1.35rem;
    padding: 1.25rem;
    border: none;
    cursor: pointer;
}
.btn-nav:hover {
    transform: scale(1.05);
    color: rgb(255, 255, 255);
}